ClientApplication/ClientApplication/Connected Services/BookshopServiceReference/MyBookshopService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookshopDatabase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookshopDatabase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UnsuccessfullLoginFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnsuccessfullLoginFault" nillable="true" type="tns:UnsuccessfullLoginFault" />
  <xs:complexType name="ArrayOfBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookModel" nillable="true" type="tns:BookModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookModel" nillable="true" type="tns:ArrayOfBookModel" />
  <xs:complexType name="BookModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Instock" type="xs:int" />
      <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookModel" nillable="true" type="tns:BookModel" />
  <xs:complexType name="ArgumentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentFault" nillable="true" type="tns:ArgumentFault" />
  <xs:complexType name="ArgumentNullFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentNullFault" nillable="true" type="tns:ArgumentNullFault" />
  <xs:complexType name="IndexOutOfRangeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexOutOfRangeFault" nillable="true" type="tns:IndexOutOfRangeFault" />
</xs:schema>